<div id="currency_converter">
<h1>Currency Converter</h1>
  <table id="converter_table" >
    <tbody>
        <p>Type in amount and select currency:</p>
      <tr>
        <td>
          <input class="slds-select " id="base_input"  [(ngModel)]="currency1value" type="string" name="input"  (input)="inputChange($event)">
        </td>
        <td type="default" class=""></td>
        <td>
            <select  class="slds-select " id="base_list" [(ngModel)]="currency1"  name="Select currency1" (change)="flexerioData(currency1)">
              <option *ngFor="let currency of currencies" [value] ="currency" > {{currency}} </option>
            </select>
        </td>
      </tr>
      <p>Converted Amount:</p>
      <tr>
        <td>
          <input  class="slds-select " id="target_output" [(ngModel)]="target_output" name="output" disabled>
        </td>
        <td></td>
        <td>
            <select class="slds-select " id="target_list "   [(ngModel)]="currency2" name="Select currency2" (change)="targetValue(currency2)">
              <option *ngFor="let currency of currencies" [value] ="currency" > {{currency}} </option>
            </select>
        </td>
      </tr>
    </tbody>
  </table>

<ngl-badge type="error">{{offLine}}</ngl-badge>
<div class="disclaimer_link">
<a [routerLink]="['/disclaimer']">Disclaimer</a>
</div>

</div>
